{% extends 'main.html' %}
{% block content %}

<div class="container display">
  {% include "companents/account_part.html" %}
  <div>

  <main class="profile col-display my-form ">
      <h2>Personal Information</h2>
      <form method="post">
        {% csrf_token %}
        <div class="forms">
          {{ user_form.as_p }}
          {% if user_form.errors %}
            <div class="form-errors">
              {% for error in user_form.errors %}
                <p class="error">{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
          <button type="submit" name="user_form">Save Change</button>
        </div>
      </form>
     </div>
     <div>
      <h2>Password Change</h2>
      <form method="post">
          {% csrf_token %}
          <div class="forms">
              {{ password_form.as_p }}
              
              {% if password_form.errors %}
                  <div class="form-errors">
                      {% for field, errors in password_form.errors.items %}
                          {% for error in errors %}
                              <p class="error">{{ error }}</p>
                          {% endfor %}
                      {% endfor %}
                  </div>
              {% endif %}
              
              {% if messages %}
                  {% for message in messages %}
                      <div class="{{ message.tags }}">{{ message }}</div>
                  {% endfor %}
              {% endif %}
  
              <button type="submit" name="password_form">Change Password</button>
          </div>
      </form>
  </div>
  </main>

  
</div>
{% endblock content %}
