{% extends 'main.html' %}

{% block content %}
{% comment %} <h1 class="cart-title container">Корзина</h1> {% endcomment %}

<div class="pad-20-media">
  <a href="{% url "home" %}">Home /</a><a href="{% url "catologue" %}">Shop /</a><a href="">Checkout</a>
</div>
  {% if cart_items %}
  
<div class="just-display just-start gap-0 container pad-20">

  <table class="col-display just-start pad-20">
    <thead class="">
        <tr class="display gap-100 pad-20">
          <div>
            <th>Image</th>
          </div>
          <div>
          <th>Name</th>
        </div>
          <div>
          <th>Price</th>
        </div>
        <div>
          <th>Quantity</th>
        </div>
        <div>
        
        </div>
        </tr>
      </thead>
      <div class="display pad-20">

        <tbody class="isplay">
          {% for item in cart_items %}
        <tr class="cart-card">
          <div class="col-display"> 
            <td><a href="{% url "detail_plant" item.product.id %}"><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" /></a></td>
            <td>{{ item.product.name }}</td>
            <td>${{ item.product.price|floatformat:2 }}</td>
            
            <td>
              <div class="display-gap2 align-end">
              <div class="">
                <button type="button" class="qty-btn" onclick="changeQuantity(-1)">-</button>
                <input type="number" id="quantity" name="quantity" value="1" min="1" readonly>
              <button type="button" class="qty-btn" onclick="changeQuantity(1)">+</button>
            </div>
            </form></td>
            <td>
              <div class="gap-20">
                <form method="post" action="{% url 'remove_from_cart' %}">
                  {% csrf_token %}
                  <input type="hidden" name="plant_id" value="{{ item.product.id }}" />
                  <div class="circles">
                    <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 30 30">
                      <path d="M 13 3 A 1.0001 1.0001 0 0 0 11.986328 4 L 6 4 A 1.0001 1.0001 0 1 0 6 6 L 24 6 A 1.0001 1.0001 0 1 0 24 4 L 18.013672 4 A 1.0001 1.0001 0 0 0 17 3 L 13 3 z M 6 8 L 6 24 C 6 25.105 6.895 26 8 26 L 22 26 C 23.105 26 24 25.105 24 24 L 24 8 L 6 8 z"></path>
                      </svg>
                    
                </button>
              </div>
                </form>
              </div>
            </td>
            {% endfor %}
          </div>

            <td>
              
            </td>
        </tr>
      </tbody>
    </table>
    {% endif %}

    <table class="col-displays align-end pad-20">
      <thead class="pad-20 align-end">
        <tr class="pad-20 pad-top-20">
          <div class="">
            <th class="pad-left-200">Cart Totals</th>
        </div>
      </tr>

      </thead>
      <tbody>
        <tr>
          <td>
            <div class="cart-summary ordered">
              <form class="order" action="{% url 'create_order' %}" method="POST">
                {% csrf_token %}
                <p>Coupon Apply</p>
                <div class="display">
                  <input class="small-input" type="text" placeholder="Enter coupon code here..."><button class="btn-input">Apply</button>
                </div>
                <h2>Total price: ${{ total_price|floatformat:2 }}</h2>
                <button type="submit" class="btn-order">Proceed to Order</button>

              </form>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

   
    
  </div>
  </div>

{% comment %} 
<div class="cart-container display-media">
  <div class="display">
    {% if cart_items %}
  <div class="align-center">
      {% for item in cart_items %}
        <a href="{% url "detail_plant" item.product.id %}">
        <div class="cart-card align-center">
          <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" />
          <h2>{{ item.product.name }}</h2>
          <div class="price">${{ item.product.price|floatformat:2 }}</div>
          <form method="post" action="" class="quantity-controls">
            {% csrf_token %}
                <input type="hidden" name="plant_id" value="{{ item.product.id }}" />
                <button type="submit" name="action" value="decrease">−</button>
                <span>{{ item.quantity }}</span>
                <button type="submit" name="action" value="increase">+</button>
              </form>
            </div>
        </a>
        {% endfor %}
      {% else %}
      <p class="empty-cart">Корзина пуста.</p>
      {% endif %}
    <div>

    </div>
{% endcomment %}

<div class="container pad-top-20">
  <h2 class="green text-center-media ">You may be interested in</h2>
  <div class="display-plant1 container media-container">
    {% for plant in plants|slice:':8' %}
    <a href="{% url "detail_plant" plant.id %}">
      <div >
        <img class="card" src="{{ plant.image.url }}" alt="" />
        <p>{{ plant.name }}</p>
        <h4 class="green">${{ plant.price }}</h4>
      </div>
    </a>
    {% endfor %}
  </div>
</div> 
{% endblock %}
