<section class="display nav-land pad-20">
  <div>
    <div class="logo"></div>
  </div>
  <div>
    <ul class="display-gap">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="">Shop</a>
      </li>
      <li>
        <a href="">Plant Care</a>
      </li>
      <li>
        <a href="">Blogs</a>
      </li>
      <li>
        <a href="{% url "catologue" %}">Catologue</a>
      </li>
      <li>
      <a href="{% url "cart" %}">Basket</a>
      </li>
    </ul>
  </div>
  <div class="display-gap">
    <div class="search"></div>
    <div class="basket"></div>
    {% if user.is_authenticated %}
      {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
      <h4>{{ user }}</h4>
      <a href="{% url 'work' %}">Workspace</a>
      <a href="{% url "cart" %}">Basket</a>
    {% else %}
      {% comment %} <a href="{% url 'login' %}"><div class="login"></div></a> {% endcomment %}
      <button id="openModalBtn1">Login</button>

        <div id="modal1" class="modal1">
          <div class="modal-content1">
            <span class="close-btn1">&times;</span>
            <form action="{% url "login" %}" method="post">
              {% csrf_token %}
              {% comment %} {% for field in form %} {% endcomment %}
              <div class="forms">
                <p>{{form.label}}</p>
                {{form.username}}
              </div>

              <div class="forms">
                {{form.label}}
                {{form.password1}}
              </div>

              {% if form.errors %}
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

              {% comment %} {% endfor %} {% endcomment %}
              <button type="submit">Войти</button>
          </form>
        </div>
      </div>

      <button id="openModalBtn">Register</button>

      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close-btn">&times;</span>
          <form method="post">
            {% csrf_token %}
            <div class="forms">
                {{ form.as_p }}
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>

    {% endif %}
  </div>
</section>
<center>
  <hr class="" />
</center>

<section class="nav-media">
  <div class="display">
    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="search" placeholder="Find your plants" />
    </div>
    <nav>
      <button id="menu-toggle" class="menu-button">☰</button>
    </div>
      <div id="menu" class="menu">
        <a href="/">Home</a>
        <a href="#">Shop</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      <a href="{% url "cart" %}">Basket</a>

        <a href="{% url "catologue" %}">Catologue</a>
      {% if user.is_authenticated %}
      {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
      <h4>{{ user }}</h4>
      <a href="{% url 'work' %}">Workspace</a>
      {% else %}
      <a href="{% url 'login' %}"><button>Login</button></a>
      <a href="{% url "signup" %}"><button id="openModalBtn">Register</button></a>
      
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close-btn">&times;</span>
          <form method="post">
            {% csrf_token %}
            <div class="forms">
              {{ form.as_p }}
            </div>
            <button type="submit">Зарегистрироваться</button>
          </form>
          
          {% comment %} {% include "profile/signup.html" %} {% endcomment %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  </nav>
</section>
