{% extends "main.html" %}

{% block content %}
  <h2 class="text-center">Create Plant</h2>
  {% comment %} <form method="post">
    {% csrf_token %}
    <div class="forma forms container">
      {{ form.as_p }}
    </div>
    <center>
      <button type="submit">Save</button>
    </center>
  </form> {% endcomment %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="formss">
      {{ form.as_p }}
      {{ image_form.as_p }}
    </div>
      <button type="submit">Save</button>
</form>
{% endblock %}
