{% extends 'main.html' %}

{% block content %}
  <div class="text-center">
    <h1 class="text-center">Welcome to Workspace {{ user }}</h1>
    <div class="display text-left">
        <div class="profile-avatar"></div>
        {% comment %} <div>
            <h2>
                {{user}}
            </h2>
            <h3>
                {{user.first_name}} {{user.last_name}}
            </h3>
            <h3>
                {{user.email}}
            </h3>
        </div> {% endcomment %}
    <div class="col-display container">
      <a class="text-end" href="{% url 'create' %}"><button>Create</button></a>


      {% comment %} <hr> {% endcomment %}

      <div class="col-display">
        {% for plant in plants %}
          <div>
            <a href="{% url 'detail_plant' plant.id %}">
              <div>
                <img class="card" src="{{ plant.image.url }}" alt="" />
                <p>{{ plant.name }}</p>
                <h4 class="green">${{ plant.price }}</h4>
              </div>
            </a>
            <div class="display">

              <form action="{% url 'delete' plant.id %}" method="post">
                {% csrf_token %}
                <button class='button' type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M3 6h18"/>
                  <path d="M19 6l-1 14H6L5 6"/>
                  <path d="M10 11l4 4M14 11l-4 4"/>
                </svg>
                </button>
              </form>
              <a href="{% url 'update' plant.id %}"><button class="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 20h9"/>
                <path d="M16.5 3.5a2.1 2.1 0 0 1 3 3L7 19l-4 1 1-4Z"/>
              </svg>
            </button></a>
          </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
