{% extends 'main.html' %}

{% block content %}
    <div>
      <div class="pad-20-media col-display container container-media none-main">
        <button class="burger-btn" onclick="toggleFilter()">☰ Фильтр</button>
        <div class="filter-menu container-media">
            <form method="get">
                <div class="for-id">
                    <div class="formss">
                        <div class="for-label">
                            {{ filter.form.as_p }}  
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn">Filter</button>
                <button type="reset" class="btn">
                    <a class="white" href="/">Reset</a>
                </button>
            </form>
        </div>
      <div class="display2 container pad-20">

        

          {% include 'companents/filter.html' %}  
            <div class="card-plant display-plant media-container">
              {% for plant in plants %}
                <a href="{% url 'detail_plant' plant.id %}">
                  <div>
                    <img class="card" src="{{ plant.image.url }}" alt="" />
                    <p>{{ plant.name }}</p>
                    <h4 class="green">${{ plant.price }}</h4>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
            <div class="paginations">
              {% include 'companents/pagination.html' %}
            </div>
{% endblock content %}