{% extends 'main.html' %}

{% block content %}
<div class="display2 containe mi pad-20">
  
  {% comment %} {% include 'companents/filter.html' %} {% endcomment %}
  

  <center>

    <div class="pad-top-20-m col-display filt container-media none-main ">
      <div class="cent pad-left-0">
          <button class="burger-btn " onclick="toggleFilter()">☰ Фильтр</button>
      </div>
      <div class="filter-menu container-media">
        <form method="get">
            <div class="for-id">
                <div class="filter-forms">
                  <div class="for-label">
                        {{ filter.form.as_p }}  
                    </div>
                </div>
              </div>
              <button type="submit" class="btn">Filter</button>
              <button type="reset" class="btn">
                <a class="white" href="/">Reset</a>
              </button>
              
            </form>
          </div>
        </div>
      </center>

  <form method="get" class="filter-form">
    <label for="id_name">Search:</label>
    {{ filter.form.name }}

    <div class="filter-categories">
      <label for="id_name">Categories</label>
      {% for category in categories %}
          <a href="?category={{ category.id }}" class="{% if request.GET.category == category.id|stringformat:"s" %}active{% endif %}">
              <div class="display-cat align-center gap-200">
                <div>
                  {{ category.name }} 
                </div>
                <div>
                  ({{ category.plant_count }})
                </div>
              </div>
          </a>
      {% endfor %}
  </div>
  
  <label>Price Range:</label>
  <input type="range" id="price_min" name="old_price_min" min="0" max="2000" step="10" value="{{ request.GET.old_price_min|default:0 }}">
  <input type="range" id="price_max" name="old_price_max" min="0" max="2000" step="10" value="{{ request.GET.old_price_max|default:2000 }}">
  <p>Price: <span id="price_display">${{ request.GET.old_price_min|default:0 }} - ${{ request.GET.old_price_max|default:2000 }}</span></p>

  <button type="submit" class="">Filter</button>
  <div class="filter-categories">
    <label for="id_name">Sizes</label>
    {% for size in sizes %}
    <a href="?size={{ size.id }}" class="{% if request.GET.size == size.id|stringformat:"s" %}active{% endif %}">
      <div class="display-cat align-center gap-200">
        <div>
          {{ size.name }} 
        </div>
        <div>
          ({{ size.plant_count }})
        </div>
      </div>
  </a>
    {% endfor %}
</div>

 <div class="filter-categories">
  <label for="id_name">Sizes</label>
  {% for size in size_objects %}
      <a href="">{{ size }}</a>
  {% endfor %}
</div> 

    <button type="reset" class="btn btn-success"><a class="white" href="{% url "home" %}">Reset</a></button>
    
    <div class="sale pad-0"></div>
  </form>
  
  {% comment %} <div class="fixed"></div> {% endcomment %}
  
  <div class="col-display">
    
    <div class="text-center display-gap-m pad-top-20 links">
      <a class="active" href="{% url "arrivals" %}">New Arrivals</a>
      <a class="" href="{% url "home" %}">All Plants</a>
      <a href="{% url "home" %}">Sale</a>
    </div>

    
    <div class="card-plant display-plant media-container-small">
      {% for plant in plants %}
      <a href="{% url 'detail_plant' plant.id %}">
      <div>
        <img class="card" src="{{ plant.image.url }}" alt="" />
          <p>{{ plant.name }}</p>
          <h4 class="green">${{ plant.price }}</h4>
        </div>
      </a>
      {% endfor %}
    </div>
    
  </div>
    
</div>
<div class="paginations">
  {% include 'companents/pagination.html' %}
</div>

{% endblock content %}