{% extends 'main.html' %}
{% block content %}
<center>

  <div class="display pad-20 media-none">
    {% if images %}
    <div class="col-display mini-img">
      {% for image in plant.images.all %}
        <img src="{{ image.image.url }}" alt="" onclick="changeImage(this)" class="thumbnail">
      {% endfor %}
    </div>
    {% else %}
    <p>no images</p>
    {% endif %}
  
    <div class="detail-img plant">
      <img id="mainImage" src="{{ plant.image.url }}" alt="" />
    </div>
  
    <div class="col-display media-detail">
      <h2>{{ plant.name }}</h2>
      <h4 class="green">${{ plant.price }}</h4>
      <hr class="short media-none">
      <h3 class="start">Short Description:</h3>
      <p class="start width-description">{{ plant.short_description }}</p>
  
      <h3>Size</h3>
      <div class="cent-size display-gap1">
        {% for size in sizes %}
        <div class="circle" onclick="selectSize(this)">
          <p>{{ size.name }}</p>
        </div>
        {% empty %}
        <p>нет размеров</p>
        {% endfor %}
      </div>
  
      <div class="col-display-media display-gap1">
        <form class="form" method="post" action="{% url 'add_to_cart' %}">
          {% csrf_token %}
          <input type="hidden" name="plant_id" value="{{ plant.id }}">
          <input type="hidden" id="selectedSize" name="size" value="">
          <div class="display-gap2 align-end">
            <div class="">
              <button type="button" class="qty-btn" onclick="changeQuantity(-1)">-</button>
              <input type="number" id="quantity" name="quantity" value="1" min="1" readonly>
            <button type="button" class="qty-btn" onclick="changeQuantity(1)">+</button>
          </div>
          <div class="buttons display-gap1">
            <button type="submit" class="btn">BUY NOW</button>
            <button type="submit" class="btn">ADD TO CART</button>
          </div>
        </div>
        </form>
      </div>
      <div class="start">
        <div class="display-gap1">
          <p class="gray">Categories: </p><p class="dark-gray">{{ plant.category.name }}</p>
        </div>
        <div class="display-gap1 ">
          <p class="gray">Tags: </p>
        {% for tag in tags %}
          <p class="dark-gray">{{ tag.name }},</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
    

<div class="container pad-20-media start media-none">
  <div class="text-center display-gap pad-top-20 links">
    <a class="active" href="">Product Description</a>
    <a class="" href="{% url 'review' plant.id %}">Reviews</a>
  </div>
      <br><p>{{ plant.description  }}</p>
      <br /><p>{{ plant.description.living_room }}</p>
    <br /><p>{{ plant.description.dinig_room }}</p>
    <br /><p>{{ plant.description.ofice }}</p>

  <div class="container pad-top-100  media-none">
    <h1 class="green">Releted Products</h1>
    <hr class="" />
    <center>
      <div class="display-plant">
        {% for plant in plants|slice:':3' %}
        <a href="{% url 'detail_plant' plant.id %}">
            <div>
              <img class="card" src="{{ plant.image.url }}" alt="" />
              <p>{{ plant.name }}</p>
              <h4 class="green">${{ plant.price }}</h4>
            </div>
          </a>
          {% endfor %}
        </div>
      </center>
    </div>
  </div>




    <div class="display5 text-center-media main-none start">
      <img class="card detail-img main-none" src="{{ plant.image.url }}" alt="" />
      <div class="col-display1 media-detail main-none start col-display1">
        <h4>{{ plant.name }}<h4>
          <h3 class="media-none">Short Description:</h3>
          <p>{{ plant.short_description }}</p>
        <hr class="short media-none">
        <h4 class="green">${{ plant.price }}</h4>
        <h3>Size</h3>
        <div class="display-gap-m2 main-none">
          {% for size in sizes %}
          <div class="circle" onclick="selectSize(this)">
            <p>{{ size.name }}</p>
          </div>
          {% empty %}
          <p>нет размеров</p>
          {% endfor %}
        </div>
        
        <div class="col-display-media main-none">
          <center>
        <form class="form" style="gap: 11px;
        flex-direction: column;
        display: flex;
        max-width: 201px;" method="post" action="{% url 'add_to_cart' %}">
        {% csrf_token %}
           <div>
            <input type="hidden" name="plant_id" value="{{ plant.id }}">
            <input type="number" name="quantity" value="1" min="1">
          </div> 
          {% comment %} <div class="">
            <button type="button" class="qty-btn" onclick="changeQuantity(-1)">-</button>
            <input class="input-m" type="number" id="quantity" name="quantity" value="1" min="1" readonly>
          <button type="button" class="qty-btn" onclick="changeQuantity(1)">+</button>
        </div> {% endcomment %}
          <button type="submit">Добавить в корзину</button>
        </form>
      </center>
    </div>
    
    
    <div class="container pad-20-media">
      <br /><p>{{ plant.description.living_room }}</p>
      <br /><p>{{ plant.description.dinig_room }}</p>
      <br /><p>{{ plant.description.ofice }}</p>
    </div>
    </div>
    </div>
  
    <div class="container pad-top-100 text-center-m main-none">
      <h1 class="green">Releted Products</h1>
      <hr class="" />
      <center>
        <div class="display-plant">
          {% for plant in plants|slice:':3' %}
          <a href="{% url 'detail_plant' plant.id %}">
              <div>
                <img class="card" src="{{ plant.image.url }}" alt="" />
                <p>{{ plant.name }}</p>
                <h4 class="green">${{ plant.price }}</h4>
              </div>
            </a>
            {% endfor %}
          </div>
        </center>
      </div>
{% endblock %}
