{% extends 'main.html' %}

{% block content %}
  <section class="container-media">
    <div class="display first-block">
      <div class="col-display">
        <h3>Welcome to GreenShop</h3>
        <h1 class="big-text">
          Let’s Make a
          <br />Better <span>Planet</span>
        </h1>
        <p>
          We are an online plant shop offering a wide range <span>
            of cheap and trendy plants. Use
            <br />our plants to create an unique Urban Jungle. Order your favorite plants!
          </span>
        </p>
        <a href="{% url "catologue" %}"><button class="display gap-20"><p>SHOP NOW <div class="main-none"><i class="fa-solid fa-arrow-right-long"></i></div></p></button></a>
      </div>
      <div class="display-gap">
        <div class="min-plant"></div>
        <div class="big-plant"></div>
      </div>
    </div>
  </section>
  
  <div class="col-display container container-media none-main">
    <button class="burger-btn" onclick="toggleFilter()">☰ Фильтр</button>
    <div class="filter-menu container-media">
        <form method="get">
            <div class="for-id">
                <div class="formss">
                    <div class="for-label">
                        {{ filter.form.as_p }}  
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">Filter</button>
            <button type="reset" class="btn">
                <a class="white" href="/">Reset</a>
            </button>
        </form>
    </div>
</div>
  <div class="display2 containers mi pad-20">

    {% include 'companents/filter.html' %}

    

    {% comment %} <div class="fixed"></div> {% endcomment %}

    <div class="card-plant display-plant media-container">
      {% for plant in plants %}
        <a href="{% url 'detail_plant' plant.id %}">
          <div>
            <img class="card" src="{{ plant.image.url }}" alt="" />
            <p>{{ plant.name }}</p>
            <h4 class="green">${{ plant.price }}</h4>
          </div>
        </a>
      {% endfor %}
    </div>

  
  </div>
  <div class="paginations">
    {% include 'companents/pagination.html' %}
  </div>

  <div class="container">
    <center>
      <h1>Our Blog Posts</h1>
      <p>We are an online plant shop offering a wide range of cheap and trendy plants.</p>
    </center>
    <div class="display3 text-center media-container pad-top-20">
      {% for blog in blogs|slice:':3' %}
        <a href="{% url 'detail_blog' blog.id %}">
          <div class="pad-top-20 blog">
            <img src="{{ blog.image.url }}" alt="" />
            <h3>{{ blog.name }}</h3>
            <br /><p>{{ blog.description }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  <center>
    <section class="pad-20 container hovers">
      <div class="display4">
        <div>
          <div class="block-1"></div>
          <h3>Garden Care</h3>
          <br /><p>
            We are an online plant shop
            <br />offering a wide range of cheap
            <br />and trendy plants.
          </p>
        </div>
        <div>
          <div class="block-2"></div>
          <h3>Plant Renovation</h3>
          <br /><p>
            We are an online plant shop
            <br />offering a wide range of cheap
            <br />and trendy plants.
          </p>
        </div>

        <div>
          <div class="block-3"></div>
          <h3>Watering Graden</h3>
          <br /><p>
            We are an online plant shop
            <br />offering a wide range of cheap
            <br />and trendy plants.
          </p>
        </div>
      </div>
    </section>
  </center>
{% endblock %}
