{% extends 'main.html' %}

{% block content %}
  <section class="container">
    <div class="display first-block">
        <div class="col-display">
            <h3>Welcome to GreenShop</h3>
        <h1 class="big-text">
          Let’s Make a
          <br />Better <span>Planet</span>
        </h1>
        <p>
          We are an online plant shop offering a wide range of cheap and trendy plants. Use
          <br />our plants to create an unique Urban Jungle. Order your favorite plants!
        </p>
        <a href=""><button>SHOP NOW</button></a>
      </div>
      <div class="display-gap">
          <div class="min-plant"></div>
          <div class="big-plant"></div>
      </div>
    </div>
  </section>
<div class="display container pad-20">
  {% include 'companents/filter.html' %}
  {% comment %} <div class="fixed"> 
  </div> {% endcomment %}

  <div class="display-plant">
    {% for plant in plants %}
    <div>
      <img class="card" src="{{ plant.image.url }}" alt="">
      <p>{{ plant.name }}</p>
      <h4 class="green">${{ plant.price }}</h4>
    </div>
    {% endfor %}
  </div>
</div>
<div class="paginations">
  {% include 'companents/pagination.html' %}
</div>
{% endblock %}
