{% extends 'main.html' %}

{% block content %}
  {% comment %} <section class="container-media   ">
    <div class="display first-block">
      <div class="col-display">
        <h3>Welcome to GreenShop</h3>
        <h1 class="big-text">
          Let’s Make a
          <br />Better <span>Planet</span>
        </h1>
        <p>
          We are an online plant shop offering a wide range <span>
            of cheap and trendy plants. Use
            <br />our plants to create an unique Urban Jungle. Order your favorite plants!
          </span>
        </p>
        <a href="{% url "catologue" %}"><button class="display "><p>SHOP NOW <div class="main-none"><i class="fa-solid fa-arrow-right-long"></i></div></p></button></a>
      </div>
      <div class="display-gap">
        <div class="min-plant"></div>
        <div class="big-plant"></div>
      </div>
    </div>
  </section> {% endcomment %}


  <div class="container">

    <section class="slider container">
      <div class="slides ">
        <div class="container-media container slide">
          <div class="display first-block">
            <div class="col-display">
              <h3>Welcome to GreenShop</h3>
              <h1 class="big-text">
                Let’s Make a <br />Better <span>Planet</span>
            </h1>
            <p class="start">
              We are an online plant shop offering a wide range <span>
                of cheap and trendy plants. Use
                <br />our plants to create a unique Urban Jungle.
              </span>
            </p>
            <a href="{% url 'catologue' %}">
              <button class="display"><p>SHOP NOW <i class="fa-solid fa-arrow-right-long"></i></p></button>
            </a>
          </div>
          <div class="display-gap">
            <div class="min-plant"></div>
            <div class="big-plant"></div>
          </div>
        </div>
      </div>
  
      <div class="container-media slide">
        <div class="display first-block">
          <div class="col-display start">
            <h3>Explore Our Plants</h3>
            <h1 class="big-text">
              Bring Greenery <br />Into Your Home
            </h1>
            <p>
              Discover our exclusive plant collections and fresh arrivals.
            </p>
            <a href="{% url 'catologue' %}">
              <button class="display"><p>SHOP NOW <i class="fa-solid fa-arrow-right-long"></i></p></button>
            </a>
          </div>
          <div class="display-gap">
            <div class="min-plant"></div>
            <div class="big-plant"></div>
          </div>
        </div>
      </div>
    </div>
    
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>
  </section>
</div>
  
  <center>

    <div class="col-display filt container container-media none-main cent">
      <button class="burger-btn" onclick="toggleFilter()">☰ Фильтр</button>
      <div class="filter-menu container-media">
        <form method="get">
            <div class="for-id">
                <div class="filter-forms">
                  <div class="for-label">
                        {{ filter.form.as_p }}  
                    </div>
                </div>
              </div>
              <button type="submit" class="btn">Filter</button>
              <button type="reset" class="btn">
                <a class="white" href="/">Reset</a>
              </button>
              
            </form>
          </div>
        </div>
      </center>
<div class="display2 containers mi pad-20">
  
    {% comment %} {% include 'companents/filter.html' %} {% endcomment %}
    
    <form method="get" class="filter-form">
      <label for="id_name">Search:</label>
      {{ filter.form.name }}
  
      <div class="filter-categories">
        <label for="id_name">Categories</label>
        {% for category in categories %}
            <a href="?category={{ category.id }}" class="{% if request.GET.category == category.id|stringformat:"s" %}active{% endif %}">
                <div class="display-cat align-center gap-200">
                  <div>
                    {{ category.name }} 
                  </div>
                  <div>
                    ({{ category.plant_count }})
                  </div>
                </div>
            </a>
        {% endfor %}
    </div>
    
    <label>Price Range:</label>
    <input type="range" id="price_min" name="old_price_min" min="0" max="2000" step="10" value="{{ request.GET.old_price_min|default:0 }}">
    <input type="range" id="price_max" name="old_price_max" min="0" max="2000" step="10" value="{{ request.GET.old_price_max|default:2000 }}">
    <p>Price: <span id="price_display">${{ request.GET.old_price_min|default:0 }} - ${{ request.GET.old_price_max|default:2000 }}</span></p>
  
    <button type="submit" class="">Filter</button>
    <div class="filter-categories">
      <label for="">Categories</label>
      {% for size in sizes %}
          <a href="?sizes={{ size.id }}" class="{% if request.GET.sizes == size.id|stringformat:"s" %}active{% endif %}">
              <div class="display-cat align-center gap-200">
                <div>
                  {{ size.name }} 
                </div>
                <div>
                  ({{ size.plant_count }})
                </div>
              </div>
          </a>
      {% endfor %}
  </div>
  
   <div class="filter-categories">
    <label for="id_name">Sizes</label>
    {% for size in size_objects %}
        <a href="">{{ size }}</a>
    {% endfor %}
  </div> 
  
      <button type="reset" class="btn btn-success"><a class="white" href="{% url "home" %}">Reset</a></button>
      
      <div class="sale pad-0"></div>
    </form>
    
    {% comment %} <div class="fixed"></div> {% endcomment %}
    
    <div class="col-display cent">
      
      <div class="text-center display-gap1 display-gap-m pad-top-20 links">
        <a class="active" href="">All Plants</a>
        <a class="" href="">New Arrivals</a>
        <a href="">Sale</a>
      </div>
      
      <div class="card-plant display-plant media-container-small">
        {% for plant in plants %}
        <a href="{% url 'detail_plant' plant.id %}">
        <div>
          <img class="card" src="{{ plant.image.url }}" alt="" />
            <p>{{ plant.name }}</p>
            <h4 class="green">${{ plant.price }}</h4>
          </div>
        </a>
        {% endfor %}
      </div>
      
    </div>
      
  </div>
  <div class="paginations">
    {% include 'companents/pagination.html' %}
  </div>


  <div class="pad-top-20 pad-200 media-none">
    <div class="display">
      {% for plant in plants|slice:'1:3' %}
      <a href="{% url 'detail_plant' plant.id %}">
        <div class="display end">
          <img src="{{ plant.image.url }}" alt="">
          <div class="col-display end">
            <h2>{{ plant.name }}</h2>
            <p class="width end">{{ plant.short_description }}</p>
            <button><a class="white" href="">Find More</a></button>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <center>
      <h1>Our Blog Posts</h1>
      <p>We are an online plant shop offering a wide range of cheap and trendy plants.</p>
    </center>
    <div class="display3 text-center media-container pad-top-20">
      {% for blog in blogs|slice:':4' %}
        <a href="{% url 'detail_blog' blog.id %}">
          <div class="pad-top-20 blog">
            <img src="{{ blog.image.url }}" alt="" />
            <h3>{{ blog.name }}</h3>
            <br /><p>{{ blog.description }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  
{% endblock %}
